.active {
    color: #73b744 !important;
}
.chatInput:focus {
    border: none !important;
    border-bottom: 1px solid #73b744 !important;
    box-shadow: 0 1px 0 0 #73b744 !important;
}
.inputChat {
    padding-left: 0.5rem;
    padding-right: 2rem;
}

.input-field {
    margin-bottom: 0px !important;
}

.input-field.col label {
    left: 0 !important;
}