.userList {
    flex-basis: 30%;
    border: 3px solid #e0e0e0;
    border-right: none;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.2rem 0rem 1rem;
}
li {
    background: transparent !important;
}